{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>

    <div class="weather-container">
        <h1>🌦 Weather Forecast</h1>

        <!-- Form sends GET request -->
        {% if error %}
            
            <p>{{error}}</p>

        {% endif %}


        <form method="get" action="{% url 'weather_report' %}">
            {% csrf_token %}
            <input 
                type="text" 
                name="city" 
                placeholder="Enter city name"
                required
            >
            <button type="submit">Get Weather</button>
        </form>

        <p class="note">
            Example: Hyderabad, Delhi, London
        </p>
    </div>

</body>
</html>
